* {
    box-sizing: border-box; /* Asegura que el padding y border no afecten el ancho total */
    margin: 0;
    padding: 0;
}

@page {
    size: A4;
    margin: 20mm; /* Ajusta los márgenes si es necesario */
}

header {
    page-break-before: always; /* Asegura que esté en una nueva página */
    page-break-after: avoid; /* Evita que se divida */
}

.page-break {
    page-break-before: always; /* Forzar nueva página */
}


.spaciado {
    height: 10px; /* Ajusta según necesites espacio */
}


body {
    font-family: Calibri;
}


.headform {
    background-color: #ccffcc;
    border: 1px solid gray;
    text-align: center;
    border-bottom: none; /* Elimina borde inferior para evitar doble línea */
}

.headform2 {
    background-color: #ffffff;
    border: 1px solid gray; /* Mismo color que el contenedor padre */
    text-align: center;
    border-top: none; /* Elimina borde superior para evitar doble línea */
}

.encabezado {
    width: 100%;
    border: 2px solid gray;
    font-size: 11px;
    border-collapse: collapse; /* Para tablas, une los bordes */
}


.motivotitle {
    background-color: #ccccff;
    border: 1px solid gray;
    text-align: left;
    font-size:14px;
    width:100%;
    border-bottom: none; /* Elimina borde inferior para evitar doble línea */
}
.motivodes {
    background-color: #ffffff;
    border: 1px solid gray; /* Mismo color que el contenedor padre */
    text-align: left;
    font-size:12px;
    border-top: none; /* Elimina borde superior para evitar doble línea */
}
.MotivoConsulta {
    width: 100%;
    border: 2px solid gray;
    font-size: 11px;
    border-collapse: collapse;
    table-layout: fixed; /* Fuerza el respeto de los anchos definidos */
}

.antf {
    background-color: #ccffcc;
    border: 1px solid gray;
    text-align: center;
    font-size: 6px; /* Tamaño más legible pero pequeño */
    width: 2%; /* Ancho fijo para todas las celdas antf */
    padding: 2px;
    white-space: normal; /* Permite ajuste de texto */
    word-wrap: break-word; /* Rompe palabras largas */
}
.antfx {
    background-color: #e8ef5c;
    border: 1px solid gray;
    text-align: center;
    font-size: 6px; /* Tamaño más legible pero pequeño */
    width: 2%; /* Ancho fijo para todas las celdas antf */
    padding: 2px;
    white-space: normal; /* Permite ajuste de texto */
    word-wrap: break-word; /* Rompe palabras largas */
}

/* Específicamente para la primera celda */
td.antf:first-child {
    white-space: nowrap; /* Evita salto de línea en primera celda */
    min-width: 50px; /* Ancho mínimo para contenido clave */
}
.trrel{
    font-size:7px;

}